@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: inter;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
}

.header {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social2 {
  display: flex;
  flex-direction: row;
}

.phone {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.message {
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 100px;
  justify-content: space-between;
}

.navlinks {
  display: flex;
  flex-direction: row;
  padding-right: 100px;
  gap: 25px;
  align-items: center;
}

.navlinks a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.department {
  border: none;
  font-size: 10.5px;
  font-weight: bold;
  background: none;
  padding-right: 10px;
  outline: none;
}

.h {
  position: absolute;
  display: inline;
  left: 230px;
  top: 200px;
  font-weight: bold;
  font-size: 35px;
}

.bt {
  position: absolute;
  display: inline;
  left: 230px;
  top: 400px;
}

.play {
  position: absolute;
  display: inline;
  width: 20px;
  top: 5px;
  left: 185px;
}

.a {
  color: black;
}

.bt1 {
  background-color: #17c1a3;
  border: none;
  border-radius: 5px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
  margin-right: 70px;
}

.container {
  background-color: white;
  border-radius: 5px;
  display: inline;
  position: absolute;
  top: 520px;
  left: 190px;
  padding: 10px 25px;
  box-shadow: 1px 1px rgb(238, 238, 238);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.base {
  padding-left: 120px;
  padding-right: 120px;
}

.hdg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photo-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.photo-item {
  width: 30%;
  text-align: start;
}

.photo-item img {
  width: 100%;
  height: auto;
  display: block;
}

.photo-item2 {
  text-align: center;
}

.doc {
  margin-top: 170px;
  padding-left: 120px;
}

.bt2 {
  background-color: #17c1a3;
  border: none;
  border-radius: 5px;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
}

.hdg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 170px;
}

.hdg2 h3 {
  margin: 0;
}

.hdg2 img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 10px;
}

.read-more {
  color: #17c1a3;
}

.img01 {
  position: absolute;
  top: 3130px;
  z-index: -1;
  height: 550px;
  width: 100%;
}

.img02 {
  position: absolute;
  top: 3400px;
}

.news {
  position: absolute;
  top: 3475px;
  left: 700px;
  border-bottom: 1px solid;
  border-color: black;
}

.bt3 {
  background-color: #17c1a3;
  border: none;
  border-radius: 5px;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-size: 10px;
}

.in {
  padding-right: 60px;
  border: none;
  font-size: 12px;
}

.footer {
  background-color: #fefefe;
  margin-top: 450px;
  padding-left: 170px;
  padding-right: 170px;
}

